{% extends 'main/layout.html' %}

{% block title %}Pagina principal{% endblock %}

{% block content %}
    <div class="features">
        <h1>Pagina principal</h1>
        <p>Olá, Seja Bem-Vindo ao Fascinante Universo da Svetlana!<p>
        <p>É com grande alegria que damos as boas-vindas a todos os visitantes ao site da Svetlana.
            Aqui, mergulhe em um mundo encantador onde a beleza encontra a inovação, e a criatividade se entrelaça com a elegância.
            Deixe-nos guiá-lo por uma experiência única, onde cada detalhe é cuidadosamente elaborado para atender aos mais altos padrões.</p>


    </div>
{% endblock %}
